
.workSpaceBg{
    width: 100vw;
    height:100vh;
    background-color: rgb(241, 241, 241);
    position: relative;
}

.stump{
   position: absolute;
   z-index: 1;
   left:0;
   width:100vw;
   height: 100vh;
   border:1px solid red;

}

h1{
  margin: 0;
}