.dashBoard{
  position: sticky;
  top:0px;
  left:0px;
  width: 300px;
  height: calc(100vh - 75px);
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}


.closeDash{
   transform: translateX(-100%);
}



.workSpaceBg{
    width: 100vw;
    height:100vh;
    background-color: #f9f9f9;
    position: relative;
}

.stump{
   position: absolute;
   z-index: 5;
   left:0;
   width:100vw;
   height: 100vh;
}

h1{
  margin: 0;
}

.workspace{
  position: absolute;
  top:75px;
  left:0;
  width:100%;
  height:calc(100vh - 75px);
  overflow-y:auto;
  display: flex;
}
 

.workSpaceContent{
  position: absolute;
  top:0;
  left:300px;
  width:calc(100vw - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

@media(max-width:1200px){
  .workSpaceContent{
     position: absolute;
     top:0;
     left:0;
     width:100vw;
  }
}



