.upForHeaderBg{
    margin-top: 40px;
    width: 80%;
    background-color:transparent;
     box-shadow: 2px 1px 15px 2px #f0f0f0;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:15px;
}

.upForHeaderContent{
  width:500px;
  background-color: #fff;
   border: 1px solid rgb(233, 233, 233);
  flex-grow: 1;
  border-radius: 7px;
}
.upForHeaderHotTopics{
    width:300px;
    display: flex;
    flex-direction: column;
    background-color: #0b0b0b;
    border-radius: 5px;
    flex-grow: 1;
    padding: 20px 0 20px 0;

}
.upForHeading{
    font-size: 1.3em;
    color:transparent;
    margin: 25px 0 15px 30px;
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to left,#2d5effaf,#602cff);
    display: inline-block;
    font-weight:500;

}
.language{
    color: #2b2b2b;
    margin: 15px 0 25px 30px;
}

.intialLanguage{
    color: #8e8e8e;
}

.languageButtons{
    display: flex;
    flex-direction:row;
    gap: 15px;
    margin: 50px 0px 0px 30px;
}

.microClarity{
    font-size: 0.6em;
    color: #adadad;
    margin: 20px 0px 20px 30px;
}

.languageButton{
    border:1px solid rgb(212, 212, 212);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


.languageButton img{
    width: 25px;
}

.makeItBigger{
    transform: scale(1.3);
    border: 1px solid #696969;
}

.topicsHeader{
    width: 80%;
    margin:80px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.topicsHeader h1{
    color: #4925f8;
    font-size: 1em;
    margin: 0 0 10px 0;
}

.topicsHeader p{
    color: #6d6d6d;
    font-size: 0.8em;
    margin: 0 0 10px 0;
}

.topicHeaderButtons{
    display: flex;
    gap:10px
}

.announceButton{
    background-color: transparent;
    border:none;
    height: 40px;
    width: 110px;
    color: #4622fb;
    border-radius: 7px;
    font-size: 0.7em;
    border:1px solid #4c2bf4;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    opacity: 0.2;
   
}

.clearButton{
    background-image: linear-gradient(to right,#4c2bf4,#3588fd);
    color: #fff;
    border: none;
    height: 40px;
    width: 110px;
    border-radius: 7px;
    font-size: 0.7em;
    cursor: pointer;
     transition: transform 0.3s ease-in-out;
     opacity: 0.2;
}

.topicHeaderButtons button:hover{
    transform: scale(1.05);
 }


.hotTopicHeading{
    font-size: 1em;
    font-weight: 500;
    color: #d7d7d7;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.hotTopic{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 30px;
    position: relative;
}

.hotTopic img{
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0px 10px 0 0;
   
}
.hotTopicPara{
    font-size: 0.8em;
    color: #9f9d9d;
   
    padding: 0;
}

.choosenByUsersPara{
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,#dadada,#808080);
    font-size: 0.8em;
    font-weight: 500;
    position: absolute;
    right: 30px;
    display: inline-block;
    
}

.choosenByUsersPara svg{
     color:#a9a9a9;
     font-size: 0.8em;
   
  
}


.skeletonCard{
    width:80%;
    background-color: #f1f1f1;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.skeletonCard button{
    background-color: #e9e8e8;
    border-radius: 50%;
    width: 30px;
    height:30px;
    border: none;
    outline: none;
    margin-left: 25px;
    margin-top: 20px;
}

.skeletonContent{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    margin-left: 50px;
    width: 100%;
}

.div1{
    height: 10px;
    width:80%;
    border: none;
    background-color: #dddddd;
    margin-top: 10px;
}
.div2{
    height: 10px;
    width:60%;
    border: none;
    background-color: #e4e3e3;
    margin-top: 30px;
}

.upForListPreviewBox{
    position: relative;
    margin-top: 40px;
    width:80%;
    border-radius: 10px;
    background: #3588fd;
    background-image: url('https://res.cloudinary.com/djtbynnte/image/upload/v1756007318/login-bg-sample_silnp4.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: max-height 0.3s ease-in-out;
}


.upForListOverlay{
     position: absolute;
     top:0;
     left:0;
     width: 100%;
     height: 100%;
     border-radius: 10px;
     background-color: #0000003a;
     backdrop-filter: blur(3px);
     
}

.upForListPreviewHeader{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
}

.upForListPreviewHeader p{
    color: #ffffff;
    font-size: 0.9em;
}

.upForListPreviewHeader button{
    border: none;
    outline: none;
    background: transparent;
}
.upForListPreviewHeader svg{
    color: #fff;
}



.previewContentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;    
  opacity: 1;      
  overflow: hidden; 
  transition: max-height 0.4s ease, opacity 0.4s ease;
}



.emptyUpForBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    z-index: 1;
}

.emptyUpForBox img{
    width:70px;
}
.emptyUpForBoxContent{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 10px;
}

.emptyUpForBoxContent h1{
    color: #e7e7e7;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.emptyUpForBoxContent p{
    color: #bbbbbb;
    font-size: 0.7em;
    font-weight: 500;
    margin: 0;
}

.pickedUpForListBox{
    z-index: 1;
    width: 90%;
}
.pickedUpForListBoxHeading{
   color: #e7e7e7;
    font-size: 1em;
    font-weight: 500;
    margin: 20px 0 20px 0px;

}
.pickedUpForListBoxContent{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    
}

.pickedUpForListBoxContent button{
    background-color: #fff;
    border:none;
    outline: none;
    color: #272727;
    font-size: 0.7em;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
}

.pickedUpForListBoxContent button img{
    width: 20px;
    margin-right: 10px;
    margin: 15px 10px 15px 15px;
    pointer-events: none;
} 


@media (max-width:768px){
  .topicsHeader{
    
    flex-direction: column;
    gap:15px;
  }

  @media(max-width:568px){

    .previewContentBox {
        min-height: 0;
        max-height: 0px;    
        opacity: 0;      
        overflow: hidden; 
        transition: max-height 0.4s ease, opacity 0.4s ease;
    }

    .togglePreviewContent {
      max-height: 900px;   /* enough space to show your content */
      opacity: 1;          /* visible */
    }
   .upForHeaderBg{
     width: 90%;
   }
   .topicsHeader{
    width: 90%;
   }
   .skeletonCard{
     width: 90%;
   }
   .upForListPreviewBox{
    width: 90%;
   }
   .upForListPreviewHeader{
    display: flex;
  }


   .emptyUpForBox img{
    width:50px;
   }
   .emptyUpForBoxContent h1{
    font-size: 0.8em;
   }

   .emptyUpForBoxContent p{
    font-size: 0.5em;
  }

  .pickedUpForListBoxHeading{
    display: none;
  }

  }
}

